*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

body{
    background-color: hsl(210, 46%, 95%) ;
    box-sizing: border-box;
    font-size: 13px;
    font-family: manrope, sans-serif;
}

.container{
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 2px 9px rgba(156, 156, 156, 0.1) ;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 120px;
    width: 330px;

}

.drawers-image{
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 200px;
}

.text{
    color:hsl(217, 19%, 35%);
    font-size: 1rem;
    margin: 40px 36px;
    margin-bottom: 15px;
}

.content-text{
    color: hsl(214, 17%, 51%);
    margin: 0 36px;
    margin-bottom:10px ;
}

.main{
    display: flex;
    align-items: center;
}

.avatar{
    width: 38px;
    border-radius: 30px;
    margin-right: 20px;
}

.contact{
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 18px 36px;
}

.contact h4{
    color: hsl(214, 17%, 51%); ;
}

.contact p{
    color: hsl(214, 17%, 51%);
}

.details {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.details h4{
    color:hsl(217, 19%, 35%) ;
}
.search {
    background-color: hsl(217, 19%, 35%);
    display: flex;
    position: absolute;
    padding: 18px 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.1);
    width: 240px;
    height: 90px;
    align-items: center;
    bottom: 320px;
    right: 225px;
    clip-path: polygon(0 5%, 100% 6%, 100% 69%, 74% 71%, 57% 100%, 38% 70%, 0 70%);
    }
  .search h4 {
    color: hsl(212, 23%, 69%);
    letter-spacing: 0.4rem;
}
  .search img {
    margin: 0 10px;
}
  .share {
    float: right;
    margin-top: -40px;
    margin-left: -60px;
    background-color: hsl(212, 23%, 69%);
    color: white;
    padding: 6px 8px;
    border-radius: 30px;
}

  .attribution {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
}
  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}
    .container {
      width: 730px;
      height: 280px;
      flex-direction: row;
}
    .drawers-image {
      width: 285px;
      height: auto;
      height: 100%;
      border-radius: 10px 0 0 10px;
}
    .content h1 {
      font-size: 1.25rem;
      line-height: 1.6rem;
}
   